* {
	box-sizing: border-box;
  

}



h1 {
	margin: auto;
	font-family: 'Bangers', cursive;
	
}

h2 {
	margin: auto;
	font-family: helvetica;
}



.topbox {
	height: 10%;
	width: 100%;
	background-color: black;
}

.logo  {
	width: 100%;	  
}


.logo img {
	display: block;
    margin: auto;
    padding-top: 20px;
}


.navbar {
  
  display: flex;
  flex-wrap: wrap;
  padding: 15px 60px;
  margin: auto;
  text-align: center;
  
}

 
.navbar a {
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 10px 30px 10px 30px;
  font-size: 40px;
  font-family: 'Bangers', cursive;
  margin: auto;

}

@media screen and (max-width: 70px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a {
  font-size: 33px;
    }
}

@media screen and (max-width: 600px) {
  .navbar a {position: relative;}
  .navbar a {
    
    font-size: 25px;


  }
} 

.navbar a:hover {
  background-color: #FD00FC;
  color: white;
}


.active {
  background-color: #FD00FC;
  color: white;


}

.navbar .icon {
  display: none;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .navbar a:not(:first-child) {display: none;}
  .navbar a.icon {
    display: inline-block;
    
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    transition: 0.3s;
    
    


     
  }
}

@media screen and (max-width: 700px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    right: 0;
    top: 0;
    


  }
} 



  .navbar.responsive a {
    float: none;
    display: block;

}

@media (max-width: 800px) {
    .navbar {
        flex: 60%;
        max-width: 65%;
    }
}


@media (max-width: 600px) {
    .navbar {
        flex: 90%;
        max-width: 90%;
    }
}

.video {
	width: 100%;
	background-color: black;

}

.video iframe {
	display: block;
	margin: auto;
	width: 80%;
	background-color: black;
	padding-bottom: 30px;
}

.picture {
	width: 100%;
	background-color: black;
}

.picture img {
	display: block;
	margin: auto;
	width: 80%;
	background-color: black;	
}

.events {
	width: 100%;
	background-color: black;
}

.events img {
	display: block;
	margin: auto;
	width: 60%;
	background-color: black;

}
